body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: image-set("assets/flores.jpg");
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .menu {
    display: none;
  }

  .menu.active {
    display: block;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 31px;
  }
  
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  
  .menu-icon-bar {
    width: 100%;
    height: 20px;
    background-color: #ffffff;
    margin-bottom: 4px;
  }
  
  main {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: rgb(0, 0, 0);
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    font-size: 150px; /* Tamaño del texto más grande */
    font-weight: bold; /* Texto en negrita */
    margin-top: 0; /* Eliminar margen superior */
    font-family: 'Courier New', Courier, monospace;
  }
  
  img {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    width: 600px; /* Ajustar el tamaño de la imagen */
    margin-top: 20px; /* Agregar margen superior */
    margin-bottom: 0; /* Eliminar margen inferior */
    border-radius: 30px;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  
    .menu {
      display: none;
    }
  
    .menu.active {
      display: block;
    }
  
    .menu li {
      display: block;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 24px; /* Reducir el tamaño del texto para pantallas más pequeñas */
    }
  }
  
